<!-- ./views/layouts/main-layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/assets/scissors.png" />

    <!-- Include Tailwind CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" /> -->
    <!-- Include DaisyUI -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.5.0/dist/full.css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/777c5149ce.js" crossorigin="anonymous"></script>
    <!-- Include custom CSS -->
    <link rel="stylesheet" href="/css/global.css" />
    <!-- import Fontawesome icon -->
    <script src="https://kit.fontawesome.com/777c5149ce.js" crossorigin="anonymous"></script>
    <!-- Include custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- include jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <!-- Content -->
    <div class="hero min-h-screen" style="background-image: url('/assets/landingpage.png')">
      <div class="flex flex-col justify-center items-center w-[80vw] h-[80vh] relative">
        <img src="/assets/landingpagekotak.png" alt="background" class="h-full w-full ml-[19%]" />
        <img src="/assets/text-sss-dashboard.png" alt="" class="absolute top-5 right-[-100px] w-[310px] h-[650px]" />
        <%- include( 'user-sidebar' ) %>
        <div class="flex justify-center items-center max-w-2xl mx-auto text-center text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"><%- body %></div>
      </div>
    </div>
    <!-- <div class="container mx-auto flex-grow"> -->
    <!-- </div> -->

    <!-- Scripts -->
    <!-- Include Tailwind CSS and DaisyUI JavaScript -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script> -->
  </body>
</html>
