<!-- ./views/layouts/main-layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Include Tailwind CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" /> -->
    <!-- Include DaisyUI -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.5.0/dist/full.css" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- import Fontawesome icon -->

    <script src="https://kit.fontawesome.com/777c5149ce.js" crossorigin="anonymous"></script>
    <!-- Include custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- include jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <!-- Content -->
    <div class="hero min-h-screen"><%- body %></div>
    <!-- <div class="container mx-auto flex-grow"> -->
    <!-- </div> -->

    <!-- Scripts -->
    <!-- Include Tailwind CSS and DaisyUI JavaScript -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script> -->
  </body>
</html>
