<!-- ./views/admin.ejs -->

<%- include('layouts/sidebar.ejs') %>
<!-- content -->
<main class="flex-1 container ml-72 mr-10 my-10">
  <h1 class="text-center my-4 font-bold text-4xl">DASHBOARD</h1>

  <!-- Filter Dropdown -->
  <details class="dropdown">
    <summary class="mb-3 btn btn-outline btn-info w-[280px] text-xl font-semibold rounded" id="filterDropdown">Filter</summary>
    <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-[28rem]">
      <li>
        <div class="flex flex-col mx-3">
          <!-- CreatedBy input -->
          <form action="/admin/filter" method="GET">
            <div class="form-control w-52 flex justify-center items-center gap-5">
              <label class="cursor-pointer label">
                <span class="label-text mr-5 text-lg font-semibold">CreatedBy</span>
                <input type="text" name="filter" class="input input-bordered" placeholder="Search by username" />
              </label>
              <div class="flex gap-2 w-[200px]">
                <button type="button" class="btn btn-secondary ml-2 rounded-badge w-[50%]" onclick="resetFilter()">Reset Filter</button>
                <button type="submit" class="btn btn-primary mr-2 rounded-badge w-[50%]">Apply</button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </details>

  <div class="flex justify-between items-center my-auto">
    <!-- Sorting dropdown -->
    <div class="flex justify-start items-center mb-4 w-[600px]">
      <label for="sortDropdown" class="w-[80px] text-xl">Sort by:</label>
      <select id="sortDropdown" class="select select-info text-lg w-[200px] max-w-xs">
        <option value="" disabled selected></option>
        <option value="dateAdded">Date Added</option>
        <option value="clicks">Clicks</option>
        <!-- Add more options for other sorting criteria if needed -->
      </select>
    </div>
    <!-- Search form -->
    <form action="/admin/search" method="GET" class="mb-4">
      <div class="flex justify-end">
        <input type="text" name="query" placeholder="Search" class="p-2 rounded input input-bordered input-info w-full max-w-xs" />
        <button type="submit" class="bg-info hover:bg-blue-700 text-white font-bold text-xl py-2 px-4 ml-2 rounded">Search</button>
      </div>
    </form>
  </div>

  <%- include('layouts/table-body.ejs') %>

  <form action="/admin/reset" method="POST" class="mt-4">
    <div class="flex justify-end">
      <!-- Add a Reset button -->
      <button type="submit" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 mb-4 rounded-badge w-40">Reset</button>
    </div>
  </form>
</main>
<!-- end of content -->

<!-- Start MODAL BOX -->
<dialog id="my_modal_3" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <form action="/admin/update/" method="POST" id="updateForm">
      <h3 class="font-bold text-lg">Update Form</h3>
      <!-- Add input fields for updating data -->
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter description (optional)"
        />
      </div>
      <div class="mb-4">
        <label for="fullUrl" class="block text-sm font-medium text-gray-700">Full URL</label>
        <input
          type="text"
          name="fullUrl"
          id="fullUrl"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter full URL"
          required
        />
      </div>
      <div class="mb-4">
        <label for="shortUrl" class="block text-sm font-medium text-gray-700">Short URL</label>
        <input
          type="text"
          name="shortUrl"
          id="shortUrl"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter short URL"
          required
        />
      </div>
      <div class="mb-4">
        <label for="clicks" class="block text-sm font-medium text-gray-700">Clicks</label>
        <input type="number" name="clicks" id="clicks" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Enter clicks" required />
      </div>
      <!-- Submit button for updating data -->
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
    </form>
  </div>
</dialog>
<!-- End MODAL BOX -->

<script>
  // Function to check if the modal is open
  function isModalOpen() {
    return document.getElementById("my_modal_3").open || document.getElementById("my_modal_2").open;
  }

  function isSortingActive() {
    // Check if the sorting dropdown is open or if a sorting action is in progress
    return $("#sortDropdown").hasClass("open") || $("#sortDropdown").is(":focus");
  }

  function isSearchActive() {
    // Check if the search input field is focused or if a search action is in progress
    return $("[name='query']").is(":focus") || $("[name='query']").val().trim() !== "";
  }

  // Function to check if the filter dropdown is active
  function isFilterDropdownActive() {
    return $("#filterDropdown").hasClass("open") || $("#filterDropdown").is(":focus");
  }

  // JavaScript function to reset the filter
  function resetFilter() {
    window.location.href = "/admin";
  }

  function updateShortId(id) {
    document.getElementById("updateForm").action = "/admin/update/" + id; // Update form action
    my_modal_3.showModal(); // Show the modal
  }
  // Refresh the page every 5 seconds if the modal is not open and no sorting or search action is active
  setInterval(function () {
    if (!isModalOpen() && !isSortingActive() && !isSearchActive() && !isFilterDropdownActive()) {
      window.location.reload();
    }
  }, 5000); // Refresh every 5 seconds (5000 milliseconds)

  // sorting
  $(document).ready(function () {
    $("#sortDropdown").change(function () {
      var sortBy = $(this).val(); // Get the selected value from the dropdown

      $.ajax({
        url: "/admin/sort",
        type: "GET",
        data: { sortBy: sortBy }, // Pass the selected sorting criteria to the server
        success: function (response) {
          // Update the table with the sorted data returned from the server
          $("#tableBody").html(response);
        },
        error: function (xhr, status, error) {
          // Handle errors if any
          console.error(error);
        },
      });
    });
  });
</script>
