<!-- views/admin/users.ejs -->

<%- include('layouts/sidebar.ejs') %>

<!-- content -->
<main class="flex-1 container ml-72 mr-10 my-10">
  <h1 class="text-center my-4 font-bold text-4xl">Customize Section</h1>

  <h3>About Us</h3>
  <p><%= AboutUs.content %></p>
</main>
<!-- end of content -->
