<%- include("layouts/user-sidebar.ejs") %>

<!-- Main Content -->
<div class="hero min-h-screen">
  <!-- <form action="/<%= username %>/dashboard/shorturl" method="POST" class="flex flex-col items-center"> -->
  <input type="hidden" id="username" name="username" value="<%= username %>" />

  <div class="mb-4">
    <div class="wrapper">
      <label for="description">Description</label>
      <input type="text" placeholder="Description" id="description" name="description" />
    </div>
    <div class="wrapper">
      <label for="fullUrl" class="font-semibold">Input URL</label>
      <div class="flex items-center">
        <input required placeholder="https://www.example.com" type="url" name="fullUrl" id="fullUrl" class="border border-gray-300 rounded px-5 py-2 mr-3" />
      </div>
    </div>
    <div class="wrapper">
      <label for="customShortId">Custom Short ID: (optional)</label><br />
      <input type="text" id="customShortId" name="customShortId" />
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="openModalBtn">Shrink</button>
  </div>
  <!-- </form> -->
</div>
<!-- end of Main Content -->

<!-- start Modal box -->

<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box w-7/12 max-w-4xl">
    <h3 class="font-bold text-lg text-center">Data</h3>
    <div id="modal-content" class="flex gap-2 justify-around mx-3 items-center">
      <div class="col-1">
        <p>Message: <span id="modal-message"></span></p>
        <p>Full URL: <span id="modal-fullUrl"></span></p>
        <p>Short URL: <span id="modal-shortUrl"></span></p>
        <p>Clicks: <span id="modal-clicks"></span></p>
        <p>Description: <span id="modal-description"></span></p>
        <p>Created By: <span id="modal-createdBy"></span></p>
        <p>Date Added: <span id="modal-dateAdded"></span></p>
      </div>
      <div class="col-2">
        <img src="" alt="QR CODE" id="modal-qr" />
        <p class="text-center font-semibold text-xl">Scan Me!</p>
      </div>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
<!-- end of Modal box -->
<script>
  // Function to validate URL format
  function isValidUrl(url) {
    // Regular expression for URL format validation
    const urlRegex = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,})(\/[^\s]*)?$/i;
    return urlRegex.test(url);
  }
  // Function to fetch data and populate modal box
  async function fetchDataAndPopulateModal() {
    try {
      const fullUrl = document.getElementById("fullUrl").value;

      // Check if the input URL is valid
      if (!isValidUrl(fullUrl)) {
        // If URL is invalid, display an alert and return
        alert("Please enter a valid URL.");
        return;
      }

      // Make an asynchronous request to fetch data from the server
      const response = await fetch(`/<%= username %>/dashboard/shorturl`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          // Include any necessary data for the request
          // For example, you might want to send the full URL and description
          username: document.getElementById("username").value,
          description: document.getElementById("description").value,
          fullUrl: fullUrl,
          customShortId: document.getElementById("customShortId").value,
        }),
      });

      const data = await response.json();
      console.log(data);

      if (data.message === "Short URL created successfully") {
        // Set data to modal content
        document.getElementById("modal-message").innerText = data.message;
        document.getElementById("modal-fullUrl").innerText = data.shortUrl.full;
        document.getElementById("modal-shortUrl").innerText = data.shortUrl.short;
        document.getElementById("modal-clicks").innerText = data.shortUrl.clicks;
        document.getElementById("modal-description").innerText = data.shortUrl.description;
        document.getElementById("modal-createdBy").innerText = data.shortUrl.createdBy;
        document.getElementById("modal-dateAdded").innerText = new Date(data.shortUrl.dateAdded).toLocaleString();
        // using qr code api
        var qrUrl = "http://api.qrserver.com/v1/create-qr-code/?data=http://localhost:5000/" + data.shortUrl.short + "&size=200x200";
        document.getElementById("modal-qr").src = qrUrl;
        // Display the modal box
        const modal = document.getElementById("my_modal_5");
        modal.showModal();
      } else {
        // Handle error message
        alert(data.message);
      }
    } catch (error) {
      console.error("Error fetching data:", error);
      // Handle other errors
      alert("Failed to fetch data from the server.");
    }
  }

  // Event listener for button click to trigger modal box
  const openModalButton = document.getElementById("openModalBtn");
  openModalButton.addEventListener("click", fetchDataAndPopulateModal);
</script>
