<div class="container border border-secondary-3 rounded my-5 p-5">
  <h1 class="text-center mb-4 mt-5 font-bold text-4xl">Shorten, Share, Simplify !</h1>
  <!-- Content for the index page -->

  <form action="/shortUrl" method="POST" class="flex flex-col items-center">
    <div class="mb-4">
      <label for="fullUrl" class="font-semibold">Input URL</label>
      <div class="flex items-center">
        <input required placeholder="https://www.example.com" type="url" name="fullUrl" id="fullUrl" class="border border-gray-300 rounded px-3 py-2 mr-2" />
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Shrink</button>
      </div>
    </div>
  </form>

  <% if(showShortenedLink && shortUrls.length > 0) { %>
  <div>
    <h4 class="text-center">Your Shortened Link is <a href="<%= shortUrls[0].short %>" class="text-blue-500"><%= shortUrls[0].short %></a></h4>
  </div>
  <% } %>
</div>
