<form action="/user/login/submit" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" />
  <!-- Ensure the name attribute is added for the password input -->
  <button type="submit">Login</button>
</form>

<h3>--- OR ---</h3>
<form action="/auth/google">
  <button class="btn">
    Login with Google!
    <i class="fa-brands fa-google"></i>
  </button>
</form>

<p>Dont have account? <a href="/user/create-account">Create account here</a></p>
